"*":
  core:
    telemetryConsent: "limited"
  editor:
    fontSize: 24
  "exception-reporting":
    userId: "716ebcc0-8930-4cd0-858b-2ee6ce9c1eb7"
  "one-dark-ui":
    fontSize: 20
  welcome:
    showOnStartup: false
