"*":
  core:
    ignoredNames: [
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 20
    softWrap: true
  "exception-reporting":
    userId: "716ebcc0-8930-4cd0-858b-2ee6ce9c1eb7"
  "one-dark-ui":
    fontSize: 20
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
