"*":
  core:
    disabledPackages: [
      "markdown-mindmap"
      "teletype"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 16
    invisibles:
      eol: ""
      space: ""
    showInvisibles: true
  "exception-reporting":
    userId: "716ebcc0-8930-4cd0-858b-2ee6ce9c1eb7"
  "linter-ui-default":
    showPanel: true
  "markdown-mindmap": {}
  "one-dark-ui": {}
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      trailingComma: "all"
    useEslint: true
  welcome:
    showOnStartup: false
